{% extends 'base.html' %}
{% block content %}

<h1>Name - {{ group.name }}</h1>
<h1>Code - {{ group.code }}</h1>

<strong>Location:</strong> {{ group.location }}

<p><strong>Created By:</strong> {{group.created_by.username}}</p>


{% for restaurant in restaurants %}
<div class="store">
    <a href="/restaurant/{{ restaurant.id }}"><img src="{{ restaurant.photo_url }}" alt="{{ restaurant.name }}" width="200px">
    <a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a>
    {{ restaurant.liked_by|length }} Likes
    <p><strong>Location:</strong> {{ restaurant.location }}</p>
    <p><strong>Price Range:</strong> {{ restaurant.price_range }}</p>
    <p><strong>Description:</strong> {{ restaurant.description }}</p>
</div>
{% endfor %}
<h2>Atendees:</h2>
<ul>
{% for atendee in group.atendees %}
    <li>{{atendee.name}}</li>
{% endfor %}
</ul>


<form method="POST" action="/create_restaurant/group/{{group.id}}">
    Add New Restaurant
    <br>
    <input type="submit" value="Add">
</form>

{% endblock %}